<html>
	<head>
		<title> armtrak </title> 
		<script src="/js/jquery.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="https://code.createjs.com/easeljs-0.8.1.min.js"></script>
		<script src="/js/base.js"></script>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<script>
			$(function()
			{
			    init();
			})
		</script>
	</head>
	<body>

		<canvas id='canvas'></canvas>

		<div id='panel'>

			<canvas id='minimap'></canvas>

			<div id='chat_main'>

				<div id='chat_area_parent'>
					<div id='chat_area'></div>
				</div>

				<input id='chat_input' type='text'>

			</div>

		</div>


	</body>
</html>