<html>
	<head>
		<title>Armtrak</title>
		<script src="/js/libs/jquery.min.js"></script>
		<script src="/js/libs/socket.io.min.js"></script>
		<script src="/js/libs/easel.min.js"></script>
		<script src="/js/libs/base.js"></script>
		<link rel="stylesheet" type="text/css" href="css/style.css" />

		<script>
			$(function() {
			    App.init()
			})
		</script>
	</head>

	<body>

		<canvas id="canvas"></canvas>

		<div id="panel">
			<canvas id="minimap"></canvas>

			<div id="chat_main">
				<div id="chat_area_parent">
					<div id="chat_area"></div>
				</div>

				<input id="chat_input" type="text">
			</div>
		</div>

		<iframe id="yt_player" width="200" height="200" src=" frameborder="0" allowfullscreen></iframe>

		<div id="hud">
			<span id="health"> health: 100/100</span>
			<span id="max_speed"> max speed: 1 </span>
			<span id="laser_level"> laser level: 1 </span>
			<span id="sound_toggle" onclick="toggle_sound();"> turn off sound </span>
			<span id="music_toggle" onclick="toggle_music();"> turn off music </span>
		</div>
	</body>
</html>