<html>
	<head>
		<title> armtrak </title> 
		<script src="/js/jquery.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/easel.js"></script>
    	<script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>
		<script src="/js/base.js"></script>
    	<script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<script>
			$(function()
			{
			    init();
			})
		</script>
	</head>
	<body>

		<canvas id='canvas'></canvas>

		<div id='panel'>

			<canvas id='minimap'></canvas>

			<div id='chat_main'>

				<div id='chat_area_parent'>
					<div id='chat_area'></div>
				</div>

				<input id='chat_input' type='text'>

			</div>

		</div>

		<iframe id='yt_player' width='200' height='200' src='' frameborder='0' allowfullscreen></iframe>

		<div id='hud'>
			<span id='health'> health: 100% </span>
			<span id='sound_toggle' onclick='toggle_sound();'> turn off sound </span>
		</div>


	</body>
</html>