body, html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: rgb(57, 57, 62);
	overflow: hidden;
}

#main {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#top {
	flex-grow: 0;
	flex-shrink: 0;
}

#middle {
	flex-grow: 1;
	flex-shrink: 1;
	display: flex;
	flex-direction: row;
}

#bottom {
	flex-grow: 0;
	flex-shrink: 0;
}

#canvas_container {
	position: relative;
	flex-grow: 1;
	flex-shrink: 1;
}

#canvas {
	float: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: black;
	width: 1200px;
	height: 800px;
	border: 4px solid rgb(139, 152, 157);
}

#panel {
	display: flex;
	flex-direction: column;
	width: 400px;
}

#minimap_container {
	position: relative;
	flex-grow: 0;
	flex-shrink: 0;
}

#minimap {
	height: 400px;
	width: 400px;
	background-color: grey;
}

#chat_main {
	background-color: rgb(96, 98, 101);
	flex-grow: 1;
	flex-shrink: 1;
	position: relative;
}

#chat_area_parent {
	position: absolute;
	max-width: 100%;
	width: 100%;
	top: 0px;
	bottom: 2em;
}

#chat_area {
	height: 100%;
	max-height: 100%;
	width: 100%;
	max-width: 100%;
	overflow-y: auto;
	background-color: rgb(46, 47, 49);
	color: white;
}

#chat_input {
	position: absolute;
	max-width: 100%;
	width: 100%;
	height: 2em;
	bottom: 0;
	color: white;
	font-size: 1em;
	background-color: #494646;
	border: 0px solid #4d4c50;
	padding-left: 5px;
	outline: none;
}

.chat_message {
	padding-left: 5px;
	clear: both;
	color: white;
	word-wrap: break-word;
}

.chat_announcement {
	padding-left: 5px;
	clear: both;
	color: white;
	word-wrap: break-word;
}

.chat_username {
	float: left;
	font-weight: bold;
}

a.chat:link, a.chat:visited, a.chat:hover {
	color: white;
	text-decoration: underline;
}

.clear {
	clear: both;
}

iframe {
	display: none;
}

#hud {
	color: white;
	font-size: 1em;
	text-shadow: 1px 1px black;
	padding-left: 1rem;
	padding-top: 0.5rem;
}

#health {
	padding-right: 40px;
}

#max_speed {
	padding-right: 40px;
}

#laser_level {
	padding-right: 40px;
}

#sound_toggle {
	cursor: pointer;
	padding-right: 40px;
}

#music_toggle {
	cursor: pointer;
}